<html>
  <head>
    <title>Admin Panel</title>
    <%- include('../partials/head'); -%>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/loader'); -%>
    <%- include('../partials/navbar'); -%>
<div class="container py-5">
  <div class="row">
    <div class="row text-center mt-5">
      <div class="ds">
        <h2 class="mb-1"><i class="fad fa-user-shield" style="--fa-primary-color: #f5f5f5; --fa-secondary-color: #222;"></i> Admin Panel</h2>
        <h5 class="text-damp">Effortlessly Manage Users and Partners with Our Admin Panel: Add or Remove with Ease</h5>
      </div>
    </div>
  <div class="row justify-content-center mt-4">
    

<div class="col-sm-4">
      <div class="card rounded-4 bg-body-tertiary border-0 text-center" style="width: 400px; height: 90px;">
        <a class="text-decoration-none" href="/admin/remove">
        <div class="card-body rounded-3 shadow-lg shadow-lg p-6 border-0" style="background-color: #111; color: white; width: 400px; height: 90px">
          <h2>
            
            <h2 class="text-center"><i class="fad fa-user-minus" style="--fa-primary-color: #ffffff; --fa-secondary-color: #c5942b;"></i> Remove a user</h2>
          </h2>
          
        </div>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card rounded-4 bg-body-tertiary border-0 text-center" style="width: 400px; height: 90px;">
        <a class="text-decoration-none" href="/admin/partners">
        <div class="card-body rounded-3 shadow-lg shadow-lg p-6 border-0" style="background-color: #111; color: white; width: 400px; height: 90px">
          <h2>
            
            <h2 class="text-center"><i class="fad fa-hands-helping" style="--fa-primary-color: #ffffff; --fa-secondary-color: #c5942b;"></i> Add Partners</h2>
          </h2>
          
        </div>
        </a>
      </div>
    </div>

   

    <div class="col-sm-4">
      <div class="card rounded-4 bg-body-tertiary border-0 text-center" style="width: 400px; height: 90px;">
        <a class="text-decoration-none" href="/admin/partner/remove">
        <div class="card-body rounded-3 shadow-lg shadow-lg p-6 border-0" style="background-color: #111; color: white; width: 400px; height: 90px">
          <h2>
            
            <h2 class="text-center"><i class="fad fa-trash" style="--fa-primary-color: #ffffff; --fa-secondary-color: #c5942b;"></i> <a href="/admin/partner/remove" style="text-decoration:none;color:white;">Remove Partners</a></h2>
          </h2>
          
        </div>
        </a>
      </div>
    </div>
  </div>
</div>

</div>
      <%- include('../partials/footer'); -%>
  </body>
</html>