<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Access Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .container {
        padding: 50px;
        max-width: 600px;
        text-align: center;
      }

      h1 {
        margin-bottom: 30px;
      }

#cookie-bar {
  display: block !important;
}


    </style>
  </head>
  <body>
    <div class="container">
      <h1>We apologize for any inconvenience, but currently our website is not available on mobile devices.</h1>
      <p>However, we are working on making it easier for mobile users to access our website soon.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
