<div class="container mt-5">
  <hr>

  <footer class="mt-auto text-center text-lg-start center-bottom ">
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-hashtag"></i> DiscordInflux 
            </h6>
            <p>
              The User-Friendly Way to Easily Add New Friends on Discord.
            </p>
            <iframe 
  src="https://topiclist.instatus.com/embed-status/41415503/dark-sm" 
  width="230" 
  height="61" 
  frameBorder="0" 
  scrolling="no" 
  style="border: none;"
>
</iframe>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Legal
            </h6>
            <p>
              <a class="text-reset text-decoration-none" data-bs-target="#dmcaModal" data-bs-toggle="modal" style="cursor: pointer;">DMAC</a>
            </p>
            <p>
              <a href="/legal/terms" class="text-reset text-decoration-none">Terms</a>
            </p>
            <p>
              <a href="/legal/privacy" class="text-reset text-decoration-none">Privacy Policy</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/support" class="text-reset text-decoration-none">Help</a>
            </p>
            <p>
              <a href="https://topiclist.xyz" class="text-reset text-decoration-none">Server List</a>
            </p>
            <p>
              <a href="https://server.topiclist.xyz" class="text-reset text-decoration-none">Bot List</a>
            </p>
            <p>
              <a href="/partners" class="text-reset text-decoration-none">Partners</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              support@topiclist.xyz
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-4">
      © <span id="currentYear"></span> RSenterprises. All rights reserved. We are not affiliated with Discord Inc.
    </div>
  </footer>
</div>
